
/* top */

.top img {
    height: 600px;
    width: 100%;
    object-fit: cover;

}

.top {
    position: relative;
}

/* 画像の中の文字を要素いっぱいに広げる*/
.top-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    min-width: 200px;
    max-width: 900px;
    height: 250px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
}

.top-title p {
    font-size: 50px;
    color: darkslategray;
    text-align: center;
    line-height: 150px;
}

.login-wrapper {
    margin: 0 auto;
    text-align: center;
}

.login-wrapper a {
    display: inline-block;
    margin: 0 auto;
    color: white;
    padding: 10px;
    font-size: 24px;
    width: 200px;
}

.login-wrapper a:hover {
    text-decoration: none;
    color: white;
    transition: 0.4s;
}

.login {
    background-color: #00b7ce;
}

.guest {
    background-color: lightseagreen;
}

.login:hover {
    background-color: #0092a5;
}

.guest:hover {
    background-color: teal;
}

/* middle */

.middle {
    text-align: center;
}

.introduction {
    display: flex;
    margin: 30px auto;
    width: 55%;
    background-color: #fff;
    border-radius: 10px;
}


.introduction img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.introduction .discription {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 15px;
}

.discription .title {
    font-size: 23px;
}
.discription .text {
    margin-top: 50px;
}

.discription .text p {
    font-size: 16px;
}

/*　bottom */

.bottom {
    height: 400px;
    position: relative;
    background-color: #dedede;
}

.bottom .text-container {
    /* 要素を上下左右中央に */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    text-align: center;
    
}

.bottom .text-container h1 {
    margin-bottom: 30px;
}

/* foot */

.foot {
    height: 40px;
    line-height: 40px;
    background-color: #0f2f38;
    color: white;
    display: flex;
    justify-content: center;
}

.foot p {
    font-size: 16px;
}

.foot a {
    color: white;
    margin-left: 10px;
}

.foot a:hover {
    color: greenyellow;
    text-decoration: none;
}




