.post-wrapper {
    width: 60%;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
}

.fa-lock {
    font-size: 12px;
}

.post-info {
    display: inline;
    margin-right: 10px;
}

.post-info span {
    color: red;
}

.post-form {
    margin-top: 30px;
}

.post-form .form-control {
    margin: 20px 0;
    width: 400px;
    resize: none;
}

.post-wrapper img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

input[type="hidden"]{
    height: 0px;
}

input[type="file"]{
    display: none;
}