@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

header {
    position: relative;
    background-color: darkslategray;
    height: 70px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header a, header a:hover {
    color: white;
    text-decoration: none;
}

.header-logo {
    font-size: 30px;
}

.header-menu {
    float: right;
}

body {
    background-color: #efefef
}



.mypage-container {
    display: flex;
    justify-content: center;
}

.user-menu {
    width: 30%;
    text-align: center;
    padding: 30px 10px;
}

.user-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: grey;
    margin: 10px auto;
}

.user-img img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}


.post-container {
    width: 70%;
    height: 100px;
}

.btn {
    display: block;
}

textarea {
    resize: none;
    max-width: 400px;
}

input[type="text"] {
    max-width: 400px;
}

select {
    max-width: 400px;
}

.btn-inline {
    display: inline;
}
